@model Regiztry.Models.ContactMessage
@{
    ViewBag.Title = "ContactMessageTempDELETE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    ContactMessageTempDELETE</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Send", "Home", FormMethod.Post, new { id = "formz" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ContactMessage</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Sent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sent)
            @Html.ValidationMessageFor(model => model.Sent)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
