@model Regiztry.Models.ContactMessage
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Welcome to the Regiztry!</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<p>
    We're located in beautiful Seattle, Washington. If you'd like to get in touch, please
    send us a message and will follow up with you shortly.</p>
@using (Html.BeginForm("Send", "Home", FormMethod.Post, new { id = "formz" }))
{
    @Html.ValidationSummary(true)
    <ol>
        <li>
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { width = "100%" })
            @Html.ValidationMessageFor(model => model.Name)
        </li>
        <li>
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { width = "100%" })
            @Html.ValidationMessageFor(model => model.Email)
        </li>
        <li>@Html.LabelFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message, new { width = "100%" })
            @Html.ValidationMessageFor(model => model.Message)
        </li>
        <li class="buttons">
            <input type="submit" id="imageField" value="Send Message" class="send" />
            <div class="clr">
            </div>
        </li>
    </ol>
}
<script language="javascript" type="text/javascript">
    var locationz = "contact";
</script>
