@model IEnumerable<Regiztry.Models.Individuals>
@{
    ViewBag.Title = "Individuals of Regiztry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Individuals of Regiztry</h2>
@foreach (var item in Model)
{
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartedHelping)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>*@
}
