@model Regiztry.Models.ContactMessage

@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send</h2>

<fieldset>
    <legend>ContactMessage</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Message</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">Sent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sent)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
