<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/cufon-yui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/arial.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/cuf_run.js")" type="text/javascript"></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_resize">
                <div class="logo">
                    <h1>
                        <a href="index.html"><span>Green</span>Zap <small>Put your slogan here</small></a></h1>
                </div>
                <div class="clr">
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="index.html" class="active"><span>Home</span></a></li>
                        <li><a href="about.html"><span>About Us</span></a></li>
                        <li><a href="contact.html"><span>Contact Us</span></a></li>
                    </ul>
                </div>
                <div class="search">
                    <form id="form1" name="form1" method="post" action="#">
                    <label>
                        <span>
                            <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
                        </span>
                        <input name="b" type="image" src="images/search.gif" class="button" />
                    </label>
                    </form>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="headert_text_resize">
                <img src="images/img_main.jpg" alt="" width="970" height="338" />
            </div>
            <div class="clr">
            </div>
        </div>
        <div class="body">
            <div class="body_resize">
                <div class="left">
                    @RenderBody()
                </div>
                <div class="right">
                    <h2>
                        Sidebar Menu</h2>
                    <ul>
                        <li>@Html.ActionLink("Startups", "show", "startups")</li>
                        <li>@Html.ActionLink("Merchandise", "Show", "Merchandise") </li>
                    </ul>
                    <h2>
                        Sponsors</h2>
                    <ul class="sponsors">
                        <li class="sponsors"><a href="http://www.dreamtemplate.com">DreamTemplate</a><br />
                            Over 6,000+ Premium Web Templates</li>
                        <li class="sponsors"><a href="http://www.templatesold.com/">TemplateSOLD</a><br />
                            Premium WordPress &amp; Joomla Themes</li>
                        <li class="sponsors"><a href="http://www.imhosted.com">ImHosted.com</a><br />
                            Affordable Web Hosting Provider</li>
                        <li class="sponsors"><a href="http://www.csshub.com/">CSS Hub</a><br />
                            Premium CSS Templates</li>
                        <li class="sponsors"><a href="http://www.evrsoft.com">Evrsoft</a><br />
                            Website Builder Software &amp; Tools</li>
                        <li class="sponsors"><a href="http://www.myvectorstore.com">MyVectorStore</a><br />
                            Royalty Free Stock Icons</li>
                    </ul>
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="FBG">
            <div class="FBG_resize">
                <div class="blok">
                </div>
                <div class="blok">
                </div>
                <div class="blok">
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_resize">
                <p class="lf">
                    &copy; Copyright <a href="#">Startup Regiztry</a>.</p>
                <p class="rf">
                    Layout by Hot <a href="http://www.hotwebsitetemplates.net/">Website Templates</a></p>
                <div class="clr">
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>
</body>
</html>
